# Company specific resource files
templates

# User files
incomes
outcomes
naming.json
emailgroups.json
country.p
eloqua.p
click.p

# cx_Freeze
__pycache__
build

# VSCode
.vscode

# VScode files
*.code-workspace